.box{
    width: 20vw;
    background-color: aquamarine;
    height: 89vh;
    position: absolute;
    button:10px
}
li{
    list-style: none;
}
.img{
    width: 12vw;
    height: 20vh;
    border: 2px solid black;
    margin:0;
    border-radius: 50%;
}
.menu{
    margin-top: 2em;
    width: 15vw;
    height: 5vh;
    border: 1px solid blue;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash{
    font-size: 20px;
    font-weight: bolder;
}