.navbar{
    display: block;
    width: 100vw;
    height:6em;
    background-color: rgb(237, 106, 231);
}
ul{
    display:flex ;
    float: right;
   
}
li{
    margin-top: 20px;
    margin-right: 3em;
    font-size: 25px;
    list-style: none;
}
li:hover{
    background-color: black;
    color: white;
}
#searching{
    font-size: 24px;
}
.search{
    margin-right: 0;
    border-radius: 10px;
    border-right: 0;
}
.searchButton{
    border: 0;
    background-color:rgb(237, 106, 231);
    margin-left: 3px;
}
.float{
    width: 8rem;
    height: 9rem;
    position: relative;
    top: 6em;
    left: 91vw;
    background-color: red;
}
#add{
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 1.5em;
}
.Edit{
    margin-left: 1.5em;
    margin-bottom: 15px;
}
.edit a{

}

#home a {
    text-decoration: none;
    color: black;
    font-weight:bolder;
}

#home .active{
    background-color: black;
    color: white;
}

#add a{
    text-decoration: none;
    color: black;
    font-weight:bolder;
}
#home a:hover{
    background-color: black;
    color: white;
}
#add a:hover{
    background-color: black;
    color: white;
}
#add .active{
    background-color: black;
    color: white;
}
.lo{
    display: block;
    text-align: center;
    margin-bottom: 15px;
}
.lo a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.lo a:hover{
    background-color: black;
    color: white;
}
