.body{
    display: flex;
    width: 100vw;
   justify-content: center;
}
.content{
    width: 80vw;
    background-color:white;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
}
.header{
    text-align: center;
}
.container{
    margin: 10px;
}
.date{
    text-align: right;
    margin-top: 0;
}
.writer{
    margin-bottom: 0;
}
.switch{
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 30px;
}
.body{
    background-color:rgb(219, 239, 219);
}